footer {
	border-top: solid 2px black;
	background-image: $gb-image-footer;
    .footer-redes {
      position: relative;
      top: 10px;
      left: 10px;
        .img-redes {
          width: 4%;
          height: 4%;
         }
        .img-redes:hover {
          transform: scale(1.5);
          transition: all 2s;
         }
    }
    .nav-footer {
      position: relative;
      bottom: 40px;
      left: 440px;
        ul {
          list-style: none;
          font-size:0;
          .li-footer {
            display: inline-block;
            width: 10%;
            font-size: 2rem;	
            }
          .li-footer:hover {
            transform: scale(1.5);
            transition: all 2s;
            }
        }
        @media only screen and (max-width:480px) {
            ul {
              display: none;
            }
            #logo {
              width: 40%;
            }
        }
        @media only screen and (min-width:481px) and (max-width:960px) {
            ul {
              display: none;
            }
            #logo {
              width: 40%;
            }
        }
    }
    .parrafo-footer {
      color:black;
      font-weight: normal;
      font-size: 200%;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 3;
    }
}
