header {
	position: sticky;
	top: 0px;
	border-bottom: solid 2px black;
	background-image: $bg-image-header;
		.container-fluid {
			font-size: 2.5rem;
				a {
						#logo {
							position: relative;
							left: 10px;
						}
				}
				div {
						.nav-link:hover {
							transform: scale(1.5);
							transition: all 2s;
						}
				}
		}
}
