body {
		.seccion1 {
				h2{
					@extend %font-background;
				}
				h3{
					@extend %font-background;
				}
				@media only screen and (max-width:480px) {
					.mapa {
						width: 40%;
						height: 40%;
					}
					.video {
						width: 40%;
						height: 40%;
					}
				}
				@media only screen and (min-width:481px) and (max-width:960px) {
					.mapa {
						width: 60%;
						height: 60%;
					}
					.video {
						width: 60%;
						height: 60%;
					}
				}
		}
}