@import '../base/listas';

body {
		.seccion1 {
				h2{
					@extend %font-background;
				}
				h3{
					@extend %font-background;
				}
				@media only screen and (max-width:480px) {
					.mapa {
						width: nth($widht,1);
						height: nth($height,1);
					}
					.video {
						width: nth($widht,1);
						height: nth($height,1);
					}
				}
				@media only screen and (min-width:481px) and (max-width:960px) {
					.mapa {
						width: nth($widht,3);
						height: nth($height,3);
					}
					.video {
						width: nth($widht,3);
						height: nth($height,3);
					}
				}
		}
}