*{
	margin: 0;
	padding: 0;
}
html{
  font-size: 62.5%;
  background-color: rgb(60, 113, 60);
			body{
				overflow-x: hidden;
			}
				h2 {
		  	 	font-size: 2rem;
					text-align: center;
		  	}
				p{
					text-align: center;
				}
				.seccion1 {
					@extend %text-background;
					line-height: 50px;
				}
				@media only screen and (max-width:480px) {
				p{
					font-size: 1.5rem;
				}
				}
				@media only screen and (min-width:481px) and (max-width:960px) {
				p {
					font-size: 2rem;
				}
				}
				@media only screen and (min-width:961px) {
				p{
					font-size: 2.5rem;
				}
				}
			a {
				text-decoration: none;
				color: black;
			}
}